# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py,cover

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
.venv/
venv/
env/
ENV/

# =========================
# ENV VARIABLES / SECRETS
# =========================
.env

# =========================
# TERRAFORM
# =========================
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
*.tfvars

# ignorar parquet (pesados)
*.parquet

# permitir CSV (evidencia)
!data-generation/output/*.csv

# =========================
# LOGS
# =========================
*.log

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# JUPYTER (SI USAS)
# =========================
.ipynb_checkpoints/

# =========================
# TEST / CACHE
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# BUILD
# =========================
build/
dist/
*.egg-info/
